*{ @font-face{
    font-family:'Fira Sans', sans-serif;
    src:url("../fonts/FiraSans-Regular.ttf")
}
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }

    header{
        #top-nav{
            padding:9px;
            background-color: #f7f7f7;
            .social-icon{
                ul{
                    li{
                        a{
                            i{
                                font-size:17px;
                            }
                        }
                    }
                }
            }
            .account{
                ul{
                    .profile{
                        border-right: 1px solid black;
                    
                      
                    }
                }
            }
            ul{
                display:flex;
                margin-top:10px;
               li{
                   a{
                       margin-right: 16px;
                       color:#666;
                       font-size:15px;
                       font-weight: 600;
                      &:hover{
                          color:#005fb5;
                      } 
                   }
               }
            }
        }
        #info{
            .info-menu{
           padding:23px;
          margin-right:-16px;
          .nav-icon{
              font-size:27px;
              color:#005fb5;
             
          }
          .information{
            span{
                color:#656565;
                display: block;
                font-size:16px;
                font-weight: bold;
            } 
            font-size:15px;
          }
       
            }
            .logo{
              width:135px;
              margin-top:8px;
                img{
                    width:100%;
                    margin-left:30px;
                }
            }
        
        }
        nav{
            padding:5px;
            background-color: #005fb5;
            ul{
                display:flex;
                li{
                    margin-top:10px;
                    a{
                        margin-right: 19px;
                        font-size:17px;
                        color:white;
                        &:hover{
                           color:#ffab03;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }
}