@font-face {
  font-family: "Fira Sans", sans-serif;
  src: url("../fonts/FiraSans-Regular.ttf");
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
}
* header #top-nav {
  padding: 9px;
  background-color: #f7f7f7;
}
* header #top-nav .social-icon ul li a i {
  font-size: 17px;
}
* header #top-nav .account ul .profile {
  border-right: 1px solid black;
}
* header #top-nav ul {
  display: flex;
  margin-top: 10px;
}
* header #top-nav ul li a {
  margin-right: 16px;
  color: #666;
  font-size: 15px;
  font-weight: 600;
}
* header #top-nav ul li a:hover {
  color: #005fb5;
}
* header #info .info-menu {
  padding: 23px;
  margin-right: -16px;
}
* header #info .info-menu .nav-icon {
  font-size: 27px;
  color: #005fb5;
}
* header #info .info-menu .information {
  font-size: 15px;
}
* header #info .info-menu .information span {
  color: #656565;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
* header #info .logo {
  width: 135px;
  margin-top: 8px;
}
* header #info .logo img {
  width: 100%;
  margin-left: 30px;
}
* header nav {
  padding: 5px;
  background-color: #005fb5;
}
* header nav ul {
  display: flex;
}
* header nav ul li {
  margin-top: 10px;
}
* header nav ul li a {
  margin-right: 19px;
  font-size: 17px;
  color: white;
}
* header nav ul li a:hover {
  color: #ffab03;
  transition: 0.4s;
}
* main #top-image .background-image {
  position: relative;
}
* main #top-image .background-image img {
  width: 100%;
}
* main #top-image .background-image .content {
  position: absolute;
  top: 125px;
  color: white;
  left: 111px;
  text-align: center;
  text-transform: uppercase;
}
* main #top-image .background-image .content span {
  color: #ffab03;
}
* main #top-image .background-image .content .title h2 {
  font-size: 45px;
}
* main #top-image .background-image .content .title h1 {
  font-size: 55px;
}
* main #top-image .background-image .content .top-search {
  margin-top: 60px;
}
* main #top-image .background-image .content .top-search .list-country select {
  width: 280px;
  height: 55px;
  border-radius: 38px;
  padding: 15px;
  border: none;
}
* main #top-image .background-image .content .top-search .number-input input {
  width: 270px;
  height: 55px;
  border-radius: 38px;
  border: none;
  padding: 15px;
}
* main #top-image .background-image .content .top-search .number-input .list-weight select {
  width: 58px;
  height: 54px;
  border-radius: 15px;
  border: none;
  padding: 6px;
}
* main #top-image .background-image .content .top-search .delivery {
  background-color: #ffab03;
  padding: 13px;
  border-radius: 27px;
  width: 293px;
  font-size: 17px;
}
* main #top-image .background-image .content .top-search .delivery span {
  color: white;
  margin-bottom: 15px;
  border-right: 1px solid;
}
* main #top-image .background-image .content .top-search .delivery .result {
  margin-left: 20px;
  border: none;
  color: black;
}
* main #feature {
  color: #454545;
  margin-top: 40px;
}
* main #feature .title h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
* main #feature .sub-title {
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}
* main #feature .underline {
  background-color: #ffab03;
  width: 100px;
  height: 4px;
  margin-top: 10px;
}
* main #feature .feature-title {
  margin-top: 40px;
  font-size: 23px;
  letter-spacing: 0.3px;
}
* main #feature span {
  font-size: 14px;
}
* main #feature .icon i {
  font-size: 100px;
  color: #005fb5;
}/*# sourceMappingURL=style.css.map */